@keyframes warning-loop {
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

@keyframes warning-loop2 {
	0%{
		background-size: 150% 150%;
	}
	100%{
		background-size: 100% 100%;
	}
}

@keyframes upColor {
	0%{
		background-color: rgba(128, 128, 128, 0.5);
	}
	100%{
		background-size: rgba(200, 200, 200, 0.5);
	}
}

body {
	margin: 0;
	overflow-x: hidden;
	overflow-y: hidden;
	background-color: black;
}
div {
	padding: 5px;
}
button {
	color: white;
	background-color: #3AC;
	border: none;
	border-radius: 3px;
	margin: 3px 0 3px 3px;
	height: 32px;
}
canvas {
	filter: blur(2px);
}

header {
	text-align: right;
	color: white;
	background-color: black;
	font-size: 12px;
	display: flex;
	flex-direction: row-reverse;
}

header a {
	margin-right: 16px;
}

footer {
	text-align: right;
	color: white;
	background-color: black;
	font-size: 10px;
	display: flex;
	justify-content: space-between;
}
a {
	color: lightblue;
}
body {
	margin: 0;
}
h6 {
	font-size: 12px;
	color: white;
	margin: 2px;
}
nav button {
	background-color: rgba(128, 128, 128, 0.2);
	margin: 0;
	border-radius: 0;
	font-size: 18px;
}
nav button:hover {
	animation: upColor 1s;
}
nav button.active {
	background-color: rgba(128, 128, 128, 0.5);
	font-weight: bold;
	border-bottom: 1px lightgray solid;
}
#chat_input {
	background-color: rgba(0, 0, 0, 0);
	border-color: rgba(0, 0, 0, 0);
	width: 100%;
	color: white;
}
#overlay {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-between;
	background-color: rgba(0,0,0,0.7)
}
main{
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.left-thick{
	border-radius: 0 3px 3px 0;
	background-color: #AD0;
	margin-left: 0;
	margin-right: 0;
}
.log-navigation button{
	background-color: #64A;
	width: 80px;
}
.log-navigation button:disabled{
	background-color: grey;
}
.top-label{
	display: flex;
}
.top-label button{
	padding-right: 10px;
	padding-left: 10px;
}
input{
	color: black;
	background-color: white;
	text-indent: 10px;
	border: none;
	padding: 0;
}
.top-label input[type=text] {
	border-radius: 3px 0 0 3px;
	flex: 1;
	height: 32px;
	margin-right: 0;
	margin-top: 3px;
}
#login input[type=password] {
	border-radius: 3px 0 0 3px;
	height: 32px;
}

#register {
	display: flex;
	flex-direction: column;
}

#register input{
	flex: 1;
	padding: 4px;
	border-radius: 3px;
	margin: 0 8px 0 8px;
}
.container{
	color: white;
	background-color: rgba(0,0,0,0.5);
	margin: 4px 8px;
	border-radius: 3px;
	font-family: sans-serif;
	border: 1px gray solid;
}
#login{
	display: flex;
	flex-direction: column;
}
h4{
	margin: 5px;
}
.container section{
	font-size: 16px;
}
#secondary-window section {
	display: flex;
	justify-content: space-between;
}
#chat ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: white;
	opacity: 1; /* Firefox */
}

#chat :-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: white;
}

#chat ::-ms-input-placeholder { /* Microsoft Edge */
	color: white;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: grey;
	opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: grey;
}

::-ms-input-placeholder { /* Microsoft Edge */
	color: grey;
}
button:hover{
	background-color: lightgrey;
}
button:active{
	background-color: black;
}
button:disabled{
	background-color: rgb(32,32,32);
}

.side {
	display: flex;
	flex-direction: column;
	background-color: transparent;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	animation: warning-loop2 1s ease-out alternate infinite;
	/*background-image: radial-gradient(rgba(0, 0, 0, 0) 75%, red 100%);*/
	background-position: 50% 50%;
}
.chat_guest{
	color: lightgray;
}
.chat_member{
	color: white;
}
.chat_admin{
	color: red;
	font-weight: bold;
}
.chat_console{
	color: rgb(255,255,128);
}
.chat_server{
	color: #C6F;;
	font-weight: bold;
}
.chat_private{
	color: aliceblue;
}

/*.side.warning[hidden] {
	background-image: none;
	animation: none;
}*/

.warning {
	color: white;
	text-shadow: 1px 1px 2px #000;
	background-color: #00000000;
	animation: warning-loop 1s ease-out alternate infinite;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.warning div{
	display: flex;
	justify-content: center;
}

.warning span {
	color: red;
	font-size: 50px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

.warning span:before {
	content: 'WARNING';
}

.warning img {
	width: 128px;
	height: 128px;
}

.warning:after {
	content: 'Your units are being affected by radiation!';
}

ul{
	margin: 0;
	padding-left: 15px;
}
#chat{
	position: fixed;
	left: 0;
	bottom: 12px;
	background-color: rgba(0, 0, 0, 0.3);
	color: white;
	padding: 3px;
	font-family: Consolas, sans-serif;
	font-size: 15px;
	word-wrap: break-word;
	display: flex;
	flex-direction: column;
	text-shadow: 1px 1px 4px black;
}
#chat:hover{
	background-color: rgba(0, 0, 0, 0.6);
	border: 1px grey solid;
	padding: 2px;
}
#chat li {
	background-color: rgba(0, 0, 0, 0.6);
}
.messages {
	display: flex;
	/*align-content: stretch;*/
	width: 360px;
	/*height: 360px;*/
	max-height: 350px;
	margin: 0;
	padding: 0;
	flex: 1;
}
.scrollbar {
	background-color: rgba(0, 0, 0, 0);
}
.scrollbar-handle {
	background-color: white;
	animation: warning-loop 3s ease-out alternate;
}
.scrollbar, .scrollbar-handle {
	width: 4px;
	margin: 0;
	padding: 0;
}
.msgs {
	list-style: none;
	overflow-y: hidden;
	flex: 1;
}
.log-navigation {
	display: flex;
	justify-content: space-between;
}

.hidden {
	display: none !important;
}